extends: default

rules:
  line-length:
    max: 80
    level: warning
  
  truthy:
    check-keys: false
  
  indentation:
    spaces: 2
    indent-sequences: true
  
  commas:
    level: error
  
  comments:
    level: warning
    min-spaces-from-content: 1
  
  comments-indentation:
    level: warning
  
  document-start: disable
  document-end: disable
  
  key-duplicates:
    level: error
  
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
  
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1

ignore: |
  .github/
  node_modules/
  venv/
  .venv/